{
    "openapi": "3.0.0",
    "info": {
        "title": "NETSEA Buyer API",
        "version": "1.0.0",
        "description": "# 利用規約\n

        #### 第１条（目的）\n
        株式会社SynaBiz（以下「当社」といいます）は、当社が（https://www.netsea.jp） において管理・運営する事業者向けECサービス（以下「ECサービス」といいます）に関連して、アプリケーション・プログラミング・インターフェイス（以下「本API」といいます）をご利用いただくユーザー（以下「APIユーザー」といいます）に対し、非独占的、再許諾可のライセンス（以下、「本ライセンス」という）を付与することを目的とします。\n\n
        本規約は、NETSEA APIおよびNETSEA APIのアップデート版、修正版、補正版および代替品その他一切の複製に関する使用について定めるものとします。

        #### 第２条（ライセンスの付与）\n
        当社は、APIユーザーに対し、当社所定のフォームによりNETSEA API利用規約（以下「本規約」といいます）を承諾のうえ、本規約に従うことを条件に、本ライセンスをAPIユーザー自身の便益をはかる商用目的に使用することを認めるものとします。\n\n

        #### 第３条（使用上の制約）\n
        当社は、APIユーザーが本ライセンスを使用する際の諸規定を作成し、利用の制約をする（たとえば、本APIまたはAPIユーザーの提供するサービスへのアクセス回数、アクセス時間などについて規定する等）権利を保有します。ただし、本ライセンスの諸規定を改変する場合は、事前にAPIユーザーに対し通知するよう努めます。\n\n

        #### 第４条（クレジット表示の義務）\n
        APIユーザーは、当社に対し、APIユーザーが本ライセンスを使用して開発したアプリケーションに関するクレジット表示の義務について、当社がその裁量に基づいて行うものとします。なお、表示方法については、当社とAPIユーザーの協議により定めるものとします。\n\n

        #### 第５条（禁止行為）\n
        APIユーザーは、本ライセンスを使用するにあたって、以下の行為を行うことができません。\n\n

        1. 以下のいずれかに該当するものを構成、または、それらの宣伝、取り扱いを主な目的とする製品・サービス・素材に関連して本ライセンスを使用すること。もしくはそのような製品・サービス・素材を宣伝するために本ライセンスを使用すること。\n\n
          1. 個人情報やパスワード等を偽り、またその他不正な手段により取得するもの。または本人の同意を得ることなくそれらを利用、取得または提供するもの\n\n
          1. ソフトウエア、ハードウエアまたは通信機器等の機能を妨害、破壊または制限する悪意を有するもの\n\n
          1. 著作権、特許権、商標権等の知的財産権、パブリシティー権、肖像権、信用など他人の権利を侵害、またはこれらを助長するもの\n\n
          1. 法律で禁止されているもの。または法律に違反する、もしくは違反するおそれのあるもの\n\n
          1. 取引する権限のないもの。または取引するために必要な許認可を得ていないもの\n\n
          1. 犯罪を誘発する、もしくは誘発するおそれのあるもの\n\n
          1. 他人を攻撃したり、傷つけたりするもの、その他有害なもの\n\n
          1. 低俗、わいせつなもの。または公序良俗に反するもの\n

        2. 法律、政令、省令、条例、規則および命令等を侵害する目的または方法で本ライセンスを使用すること。著作権、肖像権、信用、その他知的財産権など他人の権利、プライバシーまたは人格権を侵害する目的または方法で本ライセンスを使用すること。本規約に反する態様もしくは当社の作成する諸規定に反する態様で本ライセンスを使用すること。\n\n

        3. 営利目的あるいは金銭的利得等の有無を問わず、当社の事前の明示的書面による許諾を得ることなく、本ライセンスを販売、賃貸、再許諾すること、もしくは本ライセンスの使用または提供から収入を得ること。\n\n

        4. 合理的に必要相当な数を超える使用、濫用、または当社が作成する諸規定を遵守しない、もしくはこれに違背する用法で本ライセンスを使用すること。\n\n

        5. その他、当社独自の判断により不適当とみなした態様で本ライセンスを使用すること。\n\n

        #### 第６条（責任の制限）\n
        本ライセンスの性質、インターネットおよびコンピュータに関する技術上の制約、通信回線等のインフラストラクチャーの技術上の制約等に照らして、 当社は（当社が損害の発生する可能性を指摘されていたとしても）、以下に基づいて発生した一切の損害について、その賠償責任を負わないことを、APIユーザーは承諾するものとします。\n\n
        1. 本ライセンスの使用、また使用不能本ライセンスを通じて入手されるデータや情報\n\n
        1. 本ライセンスの改変、または不正アクセス\n\n
        1. 本ライセンスに関する第三者のコメントまたは行為\n\n
        1. そのほか本ライセンスに関するあらゆる事柄から生じる損害\n\n

        #### 第７条（無保証）\n
        1. 当社は、本ライセンスのエラーやバグ、論理的誤り、不具合、中断その他の瑕疵がないこと、信頼性、正確性、妥当性、有効性について一切保証するものではありません。\n\n
        1. 本ライセンスは、明示または黙示の有無にかかわらず、当社がその提供時において保有する状態で提供するものであり、特定の目的への適合性、有用性（有益性）、セキュリティー、権限および非侵害性について一切保証していないことを、APIユーザーはあらかじめ承諾するものとします。\n\n

        #### 第８条（権利関係）\n
        1. 本規約は、本ライセンス や当社の商標等を含む当社が保有または許諾を得ている知的財産権に関する権利を、APIユーザーに譲渡するものではありません。\n\n
        1. APIユーザーは本ライセンスの使用により得た情報を加工する場合、事前に当社に書面による承諾を得るものとします。\n\n

        #### 第９条（サポート）\n
        1. 本ライセンスに関するサポートや修正版の提供は、当社がその裁量に基づいて行うものとします。なお、当社は、その裁量に基づいて、それらを終了する場合があります。\n\n
        1. 当社は、本ライセンスの仕様の全部または一部をいつでも変更、もしくは 本ライセンスの使用許諾を一時停止、または中止できるものとします。また、当社は、当社の裁量に基づいていつでも、特定の機能やサービスに制限を課すことや、本ライセンスもしくは当社がインターネット上で運営するサイトの一部または全部へのAPIユーザーのアクセスを制限できるものとします。ただし、APIユーザーへのアクセスを制限する場合には、事前にAPIユーザーに通知するよう努めます。\n\n

        #### 第１０条（返還義務）\n
        APIユーザーは、本規約終了後、当社から要請があったときは、本ライセンスの全部または一部を含む秘密情報資料（複写物を含む）、および本ライセンスの使用により得た情報・情報を加工したもの・情報を利用して得たものを、当社の指示に従い返還または廃棄するものとし、廃棄したときはその旨を書面により相手方に通知するものとします。\n\n

        #### 第１１条（損害賠償）\n
        APIユーザーは、本規約条項に違反したときは、当社が被った損害を賠償する責を負うものとします。\n\n

        #### 第１２条（解除）\n
        APIユーザーが以下のいずれかに該当した場合、当社は、何ら催告なくして本APIの提供を解除することができます。ただし、APIユーザーが以下のいずれかに該当したか否かにかかわらず、当社は、独自の判断により、いつでも本規約を解約することができます。\n\n
        1. APIユーザーが、本規約に違反したとき\n\n
        1. 当社が、netsea.jpのサイト上にサービス終了の告知を掲載したとき\n\n
        1. 当社が、APIユーザーにサービス終了を通知したとき\n\n
        1. 当社が、本APIへのアクセスを停止したとき\n\n

        #### 第１３条（有効期間）\n
        本規約の有効期間は、当社所定のフォームよりトークン認証を行った日から半年間とします。ただし、当社からの本APIの提供解除をした旨の通知がない限り、再度トークン認証を行うことで半年間延長されるものとし、以降も同様とします。\n\n

        #### 第１４条（合意管轄）\n
        当社およびAPIユーザーは、本規約に関連して生じた紛争については、東京地方裁判所を第一審の専属管轄裁判所とすることに合意します。\n\n

        #### 第１５条（秘密保持）\n
        1. 当社およびAPIユーザーは、本規約において提供された相手方の一切の情報を秘密として保持し、事前に開示者の書面による承諾を得ることなく、第三者に開示または漏洩してはなりません。\n\n
        1. 当社およびAPIユーザーは、相手方から開示された秘密情報について、自己の役員または使用人のうち、当該秘密情報を業務遂行上知る必要のある者に限定して開示するものとし、それ以外の役員または使用人に対して開示または漏洩してはなりません。\n\n
        1. 当社およびAPIユーザーは、その業務の一部または全部を第三者に委託し、または第三者と共同して業務の一部または全部を遂行する場合といえども、事前に開示者の書面による承諾を得ることなく、相手方から開示された秘密情報を当該第三者に対し開示または漏洩してはなりません。\n\n

        ### 第１６条（規定外事項）\n
        当社およびAPIユーザーは、本規約に定めのない事項または本規約の条項の解釈に疑義が生じたときは、本規約締結の趣旨に則り、当社及びAPIユーザーが誠意をもって協議のうえ解決するものとします。\n\n

        # 利用方法\n
        NETSEA APIを利用してユーザリソースにアクセスするにはアクセストークンが必要となります。\n\n
        アクセストークンは以下URLのAPI設定画面より発行することができます。\n\n
        ```\n
        https://www.netsea.jp/account/\n
        ```\n\n

        ここで発行されるアクセストークンは有効期限が180日間で発行されますので取り扱いにはくれぐれもご注意ください。\n\n
        不要になったアクセストークンは必ず削除してください。 (アクセストークン漏洩による被害に関しては一切の責任を負いません)\n\n

        #### APIアクセス方法\n\n
        NETSEA APIを提供するホストは以下のURLになります。\n\n
        ```\n
        https://api.netsea.jp/buyer/v1/\n
        ```\n\n
        アクセスする際には指定のリクエストヘッダーを付与する必要があります。\n\n
        | Key | Description |\n
        |---|---|\n
        | Authorization | API設定画面にて取得したBearer Token |\n\n
        例)\n\n
        ```\n
        Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjE3OTQzMjlkYTMzNjhiNWIxNTc3OWE0MDdmOGE3MTBkYWVjNDliY2I3NTg4ZDJhNDU5MmY0ZTkzMzcwODM1NGRkYjI0ZjBiNWMyMzkxMzk2In0.eyJhdWQiOiI5IiwianRpIjoiMTc5NDMyOWRhMzM2OGI1YjE1Nzc5YTQwN2Y4YTcxMGRhZWM0OWJjYjc1ODhkMmE0NTkyZjRlOTMzNzA4MzU0ZGRiMjRmMGI1YzIzOTEzOTYiLCJpYXQiOjE1Njk0NjQxNTUsIm5iZiI6MTU2OTQ2NDE1NSwiZXhwIjoxNTg1MDE2MTU0LCJzdWIiOiIxMjk4Iiwic2NvcGVzIjpbXX0.mwlXGrwUf0dpEdozb7aunjXI3eShxH_rQJ_JE74t8uZOcCQN61Wgrv1roqgNVGsV8hD55NY29a02FA9ejfVlVW-MC1ztCWFIRZCPAuhEQtRo9d4eb7jS8mJhAZvizHp8DZjoAnCyREgTMOyf6m1AQjqALnu8mXShvy0hHaHloscf3q-Uq3fPI-iXa4Egk_l-ZiGWD6ZxonoXYQ9ulzssiUub5tKvrVDzKXSxS1Yz3ugSDWkOvSWy3Xt0v3MNEZoIk0JoNu5CeDowLanUH6EZWs40tT_wx0P7UCChfgP51bpmGwnJnTwCj1IoeetxZRkwtRlUXZ8K22mvZOD_jEUbnEdkH-kVDDR0bV3EnNjeBr5jLOC7-p73Sbl5IkY8WUJnegY78zr8ZY8_FLzT_R161ftM6jVZbguukDv8YwpX-bxe3H4_lMkqoSy0Ge5NpHxiSkCTAGyS8zT3lO5uwZuHaaKLeCh6OjVXOzbpgua4Ea4tZbW6QOoRI7FdI59Sbh1thlwOicYEicvf31vclcYlgNCzFrpzXJB42yE2OgXjEDYWm5h_A-tNtH86ZOXYxqkc8psCZqeNsjUICq7S7syGUW7k7QdtGdxQGuwP1MlxVr074ebPdUFruZD1AbEjv9BfMSE2WET8StJXcgQukgPtyq9LvbqPSq68gzTJJUOyAuk\n
        ```\n\n
        ※仕様は変更となる場合があります。\n\n

        #### エラーに関して\n
        本APIのアクセスにおいてエラーが発生した場合、本来のレスポンスとは異なるフォーマットのレスポンスが返却されます。\n\n
        エラーが発生した際には、本来の処理は実行されません。\n\n
        (システム障害時等は400系・500系が返却される場合があります)\n\n
        | 名称 | パラーメータ名 | 値 | 備考 |\n
        |---|---|---|---|\n
        | エラーデータ | error | object | 下記3項目を含む |\n
        | - エラーコード | code | integer | [参照](#エラーコード) |\n
        | - サブエラーコード | subcode | integer | エラー問い合わせ時に使用 |\n
        | - エラーメッセージ | message | string | エラー事由記載 |\n\n
        例)\n\n
        ```\n
        {\n    \"error\": {\n        \"code\": 1,\n        \"subcode\": 401,\n        \"message\": \"Unauthenticated.\"\n    }\n}\n
        ```\n\n
        #### エラーコード\n
        本APIのエラー発生時に返却されます。\n\n
        エラーの大枠の内容を示します。\n\n
        | 値 | 説明 | 備考|\n|---|---|---|\n
        | 0 | 不明なエラー | システムにエラーが発生した場合 |\n
        | 1 | 認証エラー | 認証に失敗した場合 |\n
        | 2 | パラメータエラー | 指定したパラメータが不正な場合 |\n
        | 3 | API内部エラー | API内部で処理上の問題が発生した場合 |\n
        | 4 | アクセスエラー | アクセスにおいて問題が発生した場合 |\n\n
        | HTTPステータス | 備考 |\n
        |---|---|\n
        | 400 Bad Request ( 入力値不正 ) | アクセス許可されていないデータへアクセスしようとした場合等含む |\n
        | 401 Unauthorized ( 認証エラー ) |  |\n\n
        ※システム障害時等は400系・500系が返却される場合があります。\n\n
        "
        ,
        "x-logo": {
            "url": "/images/logo.png",
            "altText": "NETSEA"
        }
    },
    "servers": [
        {
            "url": "https://api.netsea.jp/buyer/v1",
            "description": "本番環境"
        }
    ],
    "tags": [
        {
            "name": "Supplier",
            "description": "",
            "x-displayName": "suppliers"
        },
        {
            "name": "Category",
            "description": "",
            "x-displayName": "categories"
        },
        {
            "name": "Item",
            "description": "",
            "x-displayName": "items"
        },
        {
            "name": "Tariff",
            "description": "",
            "x-displayName": "tariffs"
        }
    ],
    "paths": {
        "$ref": "paths/index.json"
    }
}